* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.557);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff7ece64, #4c51ef94);
}

.calculator {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.245);
  border-radius: 5%;
  padding: 20px;
}

.output_box {
  text-align: right;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}
p {
  font-size: 50px;
  text-align: right;
  margin-right: 30px;
}

.input {
  display: flex;
  background: none;
  padding: 10px;
  height: 150px;
  border: none;
  display: flex;
  border-bottom: 1px rgba(0, 0, 0, 0.37) solid;
  border-radius: 20px;
  font-size: 50px;
  justify-content: right;
  align-items: end;
}

input:focus {
  outline: none;
}

.operator {
  text-align: right;
}

.input_box {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

.btns_box {
  display: flex;
  flex-grow: 1;
}

.btn {
  height: 90%;
  border: none;
  border-top: 1px rgba(0, 0, 0, 0.63) solid;
  border-radius: 20px;

  /* border: 2px solid purple; */
  display: flex;
  flex-grow: 1;
  width: 1px;
  background: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
}

.btn:hover {
  background: linear-gradient(90deg, #e6dde200, #4c51ef14);
}

.btn:active {
  background: linear-gradient(90deg, #e6dde226, #4c51ef42);
}
